
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-dark:rgb(255,255,255,0);
  --primary-red: #ef4035 ;
  --primary-hover: #f33501
}

.body{
 font-family: "Roboto Condesed" ,sans-serif;
  
}
/**************************NavBar************************/
.navbar {
  z-index: 2;
}
.logo{
  width: 11rem;
 
}
.title-box {
  margin-bottom: 4rem;
}
.title-a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
/*************************Menu Link***************************/

nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-size: 0.8rem;

}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
       color:var(--primary-white) !important;
        margin-right:1.5rem;
       border-top:0.1875rem solid var(--primary-dark) ;
}
.navbar-band{
  max-width: 17.2rem;
  padding: 0 !important;
  height: 6rem !important;

}

@media(max-width:768px){
  .navbar-band{
    width: 7rem;
  }
}
.navbar-nav > li > a.active, .navbar-nav > li >  a.active:focus{
       border-top: 0.1875rem solid var(--primary-orange);
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

.header-wraper {
  position :relative ;
  background: url(backround.jpg) no-repeat;
  background-size: cover;
  background-position:center ;
  height: 90vh;
}
.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-hover);
  transition: .2s ease-in-out;
}
.main-info {
  display: flex;
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Roboto Condesed",sans-serif;
  z-index: 1;
}

.main-info h1{
  color:var(--primary-orange);
  text-transform: uppercase;
}
@media(max-width:768px){
  .main-info h1 {
   font-size: 1.7rem !important;
  }
  .typed-text{
    font-size: 1.23rem !important;
  }
}
/****************TYPED TEXT*************/
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}
/**************************Header Main Offer Boutton************************/
.btn-main-offer{
   border :1px solid var(--primary-red);
   text-transform: uppercase;
   border-radius: 0;
   padding: 10px 12px 12px 12px;
   color: var(--primary-white);
   margin: 2rem
}

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
@media(max-width:768px){
  .particles-canvas{
    display: none;
  }
}

/*********************Propos Page*****************************/
.main-propos {
 margin-top: 20px;
 position :relative;
 background: url(propos.jpg) no-repeat;
 background-size: cover;
 background-position:center;
 height: 40vh;
width:100%;

}

.section {
  padding: 100px 0;
  position: relative;
  
}
.main-section{
       border-top:10px solid var(--primary-orange);
       margin-top: 20px;          
}
.gray-bg {
  background-color: #f5f5f5;
}

img {
  max-width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}
.counter-box {
  color: #fff;
  text-align: center;
}
.overlay-mf {
  background-color: #0078ff;
}
@media (min-width: 577px) {
  .counter-box {
    margin-bottom: 1.8rem;
  }
}

.counter-ico {
  margin-bottom: 1rem;
}
.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.section-counter{
  width: 100%;
}
.counter-ico .ico-circle {
  height: 60px;
  width: 60px;
  line-height: 1.5;
  box-shadow: 0 0 0 10px #cde1f8;
}
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}
.counter-num .counter {
  font-size: 2rem;
  margin-bottom: 0;
}
.countBackround{
  background-image: url(counters-bg.jpg) ;
}
/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}

@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}

.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}

.about-text p {
  font-size: 18px;
  max-width: 450px;
}

.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}

.about-list .media {
  padding: 5px 0;
}

.about-list label {
  color: #20247b;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}

.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}

.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}

.about-section .counter p {
  font-weight: 600;
  margin: 0;
}

mark {
  background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}

.theme-color {
  color: #fc5356;
}

.dark-color {
  color: #20247b;
}
/*********************service******************/
.service-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.service-body{
  background-color: #f5f5f5;
  color: #4e4e4e;
}
.service-box:hover .ico-circle {
  transition: all 500ms ease;
  color: #fff;
  background-color: #0078ff;
  box-shadow: 0 0 0 10px #cde1f8;
}

.service-box .service-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.service-box .ico-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.service-box .ico-circle i {
  line-height: 0;
  font-size: 40px;
}

.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: .4rem 0;
}

.service-box .s-description {
  color: #4e4e4e;
}
/*------/ Ico Circle /------*/
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #0078ff;
  display: block;
}
/***********************SectionWork************************/
.section-work{
  
  position:relative;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  padding-top: 5px;

  font-family: "Roboto Condesed",
  sans-serif;
}
.workBackround {
  background-image: url(propos.jpg);
}
.overlay-me {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
  background-color: #1e1e1e;
}
.workh3{
  color:#fff;
  font-size: 3rem;
  border-bottom:0.5rem solid #fff;
  border-right-width: .1em;
  width: 170px;
  margin-left: 45%;
 
}
.workh4 {
  color: #fff;
  font-size: 3rem;
  border-bottom: 0.5rem solid #fff;
  border-right-width: .1em;
  width: 180px;
  margin-left: 45%;

}
@media (max-width: 991px) {
  .workh3 {
    color:#fff;
    font-size: 3rem;
    border-bottom:0.5rem solid #fff;
    border-right-width: .1em;
    width: 170px;
    margin-left: 30%;
  }
}
@media (max-width: 991px) {
  .workh4 {
    color: #fff;
    font-size: 3rem;
    border-bottom: 0.5rem solid #fff;
    border-right-width: .1em;
    width: 180px;
    margin-left: 27%;
  }
}
.s-work{
   color:#fff;
   font-size: 2.0rem;
}
@media (max-width: 991px) {
  .s-work {
    color: #fff;
    font-size: 1.5rem;
    
  }
}
.process-box {
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 2px 7px 0 #f5f5f5;
}

.process-left:after {
  content: "";
  border-top: 15px solid #ffffff;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
  display: inline-grid;
  position: absolute;
  right: -15px;
  top: 42%;
  transform: rotate(45deg);
  box-shadow: 3px -2px 3px 0px #f5f5f5;
  z-index: 1;
}

.process-right:after {
  content: "";
  border-top: 15px solid #f5f5f1;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
  display: inline-grid;
  position: absolute;
  left: -15px;
  top: 42%;
  transform: rotate(45deg);
  box-shadow: -1px 1px 3px 0px #f5f5f1;
  z-index: 1;
}

.process-step {
  background: #00BCD4;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  height: 100%;
  padding-top: 8px;
  position: relative;
  top: -26px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: -6px 8px 0px 0px #f5f5f5;
}

.process-point-right {
  background: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 8px solid #00bcd4;
  box-shadow: 0 0 0px 4px #f5f5f1;
  margin: auto 0;
  position: absolute;
  margin-top: 55px;
  left: 620px;
}
@media (max-width: 991px) {
  .process-point-right {
    display: none;
  }
}
.process-point-right:before {
  content: "";
  height: 185px;
  width: 11px;
  background: #f5f5f5;
  display: inline-grid;
  transform: rotate(49deg);
  position: relative;
  top: -29px;
  left: -70px;
  
}
@media (max-width: 991px) {
 .process-point-right:before{
   display: none;
 }
}
.process-point-left {
  background: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 8px solid #00bcd4;
  box-shadow: 0 0 0px 4px #f5f5f5;
  margin: auto 0;
  position: absolute;
 margin-top: 55px;
 right: 620px;
}
@media (max-width: 991px) {
  .process-point-left {
    display: none;
  }
}
.process-point-left:before {
  content: "";
  height: 178px;
  width: 11px;
  background: #f5f5f1;
  display: inline-grid;
  transform: rotate(-48deg);
  position: relative;
  left: 55px;
   top: -33px;

}
@media (max-width: 991px) {
  .process-point-left:before {
    display: none;
  }
}
.process-last:before {
  display: none;
}

.process-box p {
  z-index: 9;
}

.process-step p {
  font-size: 20px;
}

.process-step h2 {
  font-size: 39px;
}

.process-step:after {
  content: "";
  border-top: 8px solid #f5f5f5;
  border-bottom: 8px solid #048898;
  border-left: 8px solid #fff;
  border-right: 8px solid #048898;
  display: inline-grid;
  position: absolute;
  left: -16px;
  top: 0;
}

.process-step:before {
  content: "";
  border-top: 8px solid #f5f5f1;
  border-bottom: 8px solid #048898;
  border-left: 8px solid #048898;
  border-right: 8px solid #f5f5f1;
  display: inline-grid;
  position: absolute;
  right: -16px;
  top: 0;
}

.process-line-l {
  background: white;
  height: 4px;
  position: absolute;
  width: 136px;
  right: -153px;
  top: 64px;
  z-index: 9;
}
@media (max-width: 991px ) {
  .process-line-l {
    display: none;
  }
}

@media (max-width: 991px) {
  .process-box {
    margin-bottom: 50px;
  }
}
.process-line-r {
  background: white;
  height: 4px;
  position: absolute;
  width: 136px;
  left: -153px;
  top: 63px;
  z-index: 9;
}
@media (max-width: 991px) {
  .process-line-r {
    display: none;
  }
}

/*************portfolio***********/
.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.work-box:hover img {
  transform: scale(1.3);
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

.work-content {
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more {
  color: #4e4e4e;
  font-size: .8rem;
}

.work-content .w-more .w-ctegory {
  color: #0078ff;
}

.work-content .w-like {
  font-size: 2.5rem;
  color: #0078ff;
  float: right;
}

.work-content .w-like a {
  color: #0078ff;
}

.work-content .w-like .num-like {
  font-size: .7rem;
}

.w-title {
  font-size: 1.2rem;
}
/****************portfolio details***************/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0078ff;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0078ff;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(78, 78, 78, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*********************Contact*********************/
.ContactBackround {
  background-image: url(overlay-bg.jpg);
}

.contact-mf {
  margin-top: 4rem;

}

@media (min-width: 767px) {
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}
.overlay-cf{
  position: absolute;
 
   left: 0px;
   padding: 0;
   height: 100%;
   width: 100%;
   opacity: .7;
   background-color: #0078ff;
}
.text-i{
  font-size: 1.5rem;
}
.text-e {
  font-size: 1rem;
}