
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-dark:rgb(255,255,255,0);
}

.body{
 font-family: "Roboto Condesed" sans-serif;
}
/**************************NavBar************************/
.logo{
  width: 11rem;
 
}
/*************************Menu Link***************************/

nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-size: 0.8rem;

}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
       color:var(--primary-white) !important;
        margin-right:1.5rem;
       border-top:0.1875rem solid var(--primary-dark) ;
}
.navbar-band{
  max-width: 17.2rem;
  padding: 0 !important;
  height: 6rem !important;

}
.navbar-nav > li > a.active, .navbar-nav > li >  a.active:focus{
       border-top: 0.1875rem solid var(--primary-orange);
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}